   <button class="btn btn-outline-success bg-dark">
      @Html.ActionLink("All Flavors", "Index")
    </button>
  <button class="btn btn-outline-success bg-danger">
      @Html.ActionLink("✍️ Edit Flavors", "Edit", new { id = Model.FlavorId })
    </button>
  <button class="btn btn-outline-success bg-warning">
      @Html.ActionLink("➖", "Delete", new { id = Model.FlavorId })
    </button>
  <button class="btn btn-outline-success bg-secondary">
      @Html.ActionLink("➕", "AddFlavor", new { id = Model.FlavorId })
    </button>
</div>