<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
  <a class="navbar-brand" href="#">Pierre's New Treats & Flavors</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample09">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link home" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link stylists" href="/Treats">Treats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link client" href="/Flavors">Flavors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link client" href="/account">Account</a>
      </li>
      
    </ul>
  
  </div>
</nav>