@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<div class ="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="text-center"> Add a treat!</h1>
      @using (Html.BeginForm())
      {
        <div class="form-group">
          <p>Name</p>
          @Html.TextBoxFor(model => model.TreatName, new {@class="form-control"})
        </div>
          
      }
    
  </div>
</div>