@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<div class ="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="text-center"> Add a treat!</h1>
      @using (Html.BeginForm())
      {
        <div class="form-group">
          <p>Name</p>
          @Html.TextBoxFor(model => model.TreatName)
        </div>
        <div class="form-group">
          <p>Select a flavor</p>
          @Html.DropDownList("FlavorId")
         
        </div>
        <button type="submit" class="btn btn-info btn-block">Add treat</button>
        }
  </div>
</div>