@{
    Layout ="_Layout";
}

@using Pierre.ViewModels
@model RegisterViewModel
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Registration</h2>
        @using 

    </div>
</div>