@{
    Layout = "_Layout";
}

@using Pierre.Models;
@model IEnumerable<Pierre.Models.Treat>

<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <h1 class="text-center">New Treats & Flavors!</h1>
<p>@Html.ActionLink("See all treats", "Index", "Treats", null,  new { @class = "btn btn-outline-dark btn-large" } )</p>
<p>@Html.ActionLink("See all flavors", "Index", "Flavors", null,  new { @class = "btn btn-outline-danger btn-large" } )</p>




    </div>
</div>